*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(80deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 92%);

}
.popupContainer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: scale(0);
}
.signUpPopup{
    width: 350px;
    height: 280px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    padding: 20px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 1);


}
.signUpPopup header{
    width: 100%;
    /* position: absolute;
    top: 0; */
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-size: 24px;
}
.signUpPopup header .closeIcon{
    cursor: pointer;
}
.signUpPopup .body input{
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 17px;
}
/* .signUpPopup .body .btn{
    width: 100%;
    display: flex;
    justify-content: end;
} */
.signUpPopup .body .btn button{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.createAcct{
    display: flex;
    justify-content: space-between;
}
.show{
    transform: scale(1);
}

nav{
    width: 100%;
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 53%);
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    border-bottom: 1px solid #fff;
    top: 0;
}
nav label{
    font-size: 27px;
    font-weight: bold;
    font-family: cursive;
}
nav .info{
    display: flex;
    align-items: center;
    z-index: 1111;
}
nav .info input{
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 20px;
    /* font-size: 15px; */
    font-weight: 600;
}
nav .info .userInfo{
    display: flex;
}
nav .info .userInfo .icon{
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}
nav .info .userInfo .home{
    color: #fff;
}